*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
}

.infinite-scroll-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imgWrapper {
    width: 60%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
